.container{
    width: 90vw;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    
}
.box{
    width: 410px;
    min-height: 120px;
    background-color: beige;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
}
#newDiv{
    height: 50px;
    margin-top: 5px;
}
#todoInput{
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid cyan;
    outline: none;
    cursor: pointer;
}
#edit{
    width: 50px;
    height: 30px;
    border-radius: 50px;
    margin: 0px 5px;
    border: none;
    background-color: cadetblue;
    cursor: pointer;
}
#edit:hover{
    background-color: green;
    color: cyan;
    cursor: pointer;
}
#delete{
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: cadetblue;
    cursor: pointer;
}
#delete:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
.box hr{
    height: 2px;
    background-color: black;

}
.box #input{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid cyan;
    outline: none;
    text-align: center;
    cursor: pointer;
}
.add{
    height: 30px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: cadetblue;
    cursor: pointer;
}
.add:hover{
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
}